<!-- views/auth/private.hbs -->
<div class="div-add-place">
  <button class="button-add-place">
    <a href="/places" class="plus-button">
   
      <p class="p-add">+</p>
    </a>
  </button>
</div>

<header class="user-header">
  <img src={{img}} alt="">
  <div>
    <p>Welcome,</p>
    <h3>{{username}}</h3>
  </div>

</header>
<h2>Your favorite places</h2>
<hr class="hr-divider-user">

{{!-- {{{main}}} --}}
<main class="private-screen-main">

  {{#each favoPlace}}

<div class="list-container">
        <div class="card-wrapper">

            <a href="/place-profile/{{this.API_id}}">
            <button type="submit">
                  <div class='card'>
                        <div class='card-img-wrapper'>
                              <div class='card-img-wrapper-in'>
                                    <img src={{this.img}}>
                              </div>
                        </div>
                        <div class="card-info">
                              <h4 class="text-overflow">{{this.name}}</h4>
                              <p class="text-overflow">{{this.location}}</p>
                              <h5 class="text-overflow">{{this.city}}</h5>
                        </div>
                  </div>
            </button>
        </a>


      </div>
</div>


  {{/each}}

</main>

{{> footer}}