<!-- views/auth/private.hbs -->
<div class="div-add-place">
  <button class="button-add-place">
    <a href="/apitest" class="plus-button">
      {{!-- + --}}
      <p class="p-add">add a place</p>
    </a>
  </button>
</div>

<header class="user-header">
  <img src="https://static.thenounproject.com/png/17241-200.png" alt="">
  <h3>{{user.username}}</h3>

</header>
<h2>Your favorite places</h2>
<hr class="hr-divider-user">

{{!-- {{{main}}} --}}
<main class="private-screen-main">

  {{#each user.favoPlace}}

<div class="list-container">
        <div class="card-wrapper">

            <a href="/place-profile/{{this.API_id}}">
            <button type="submit">
                  <div class='card'>
                        <div class='card-img-wrapper'>
                              <div class='card-img-wrapper-in'>
                                    <img src={{this.img}}>
                              </div>
                        </div>
                        <div class="card-info">
                              <h4>{{this.name}}</h4>
                              <p>{{this.location}}</p>
                              <p>{{this.city}}</p>
                        </div>
                  </div>
            </button>
        </a>


      </div>
</div>


  {{/each}}

</main>

{{> footer}}