<!-- views/apitest/matchList.hbs -->
<div class="div-add-place">
  <button class="button-add-place">
    <a href="/places" class="plus-button">
   
      <p class="p-add">+</p>
    </a>
  </button>
</div>
<header class="user-header">
  <img src={{finalVenues.user.img}} alt="">
  <div>
    <p>Welcome,</p>
    <h3>{{finalVenues.user.username}}</h3>
  </div>

</header>
      <h2>Match list</h2>
      <hr class="hr-divider-user">
<main class='private-screen-main'>
      {{#if finalVenues.isSearchA}}
      {{#each finalVenues.venuesIDarrayA}}
            <div class="card-wrapper">
            
            <a href="/places/{{this.id}}">
            <button type="submit">
                  <div class='card'>
                        <div class='card-img-wrapper'>
                              <div class='card-img-wrapper-in'>
                                    <img src={{this.imgUrl}}>
                              </div>
                        </div>
                        
                        <div class="card-info">
                              <h4 class="text-overflow">{{this.name}}</h4>
                              <p class="text-overflow">{{this.location.address}}</p>
                              <h5 class="text-overflow">{{this.location.city}}</h5>
                        </div>
                  </div>
            </button>
            </a>


            <form action="/create-match/new" method="GET">
                  <input type="hidden" value='{{this.id}}'name='id'>
                  <input type="hidden" value='{{this.imgUrl}}' name='imgUrl'>
                  <input type="hidden" value='{{this.name}}' name='name'>
                  <input type="hidden" value='{{this.location.address}}' name='location'>
                  <input type="hidden" value='{{this.location.city}}' name='city'>

                  <input type="hidden" value='{{../finalVenues.venuesIDarrayB.id_B}}' name='id_B'>
                  <input type="hidden" value='{{../finalVenues.venuesIDarrayB.imgUrl_B}}' name='imgUrl_B'>
                  <input type="hidden" value='{{../finalVenues.venuesIDarrayB.name_B}}' name='name_B'>
                  <input type="hidden" value='{{../finalVenues.venuesIDarrayB.location_B}}' name='location_B'>
                  <input type="hidden" value='{{../finalVenues.venuesIDarrayB.city_B}}' name='city_B'>

                  <button type="submit" class="button add-place-button" style="background-color:#f34970">MATCH</button>
            </form>

            </div>

      {{/each}}
      {{/if}}


      {{#if finalVenues.isSearchB}}
      {{#each finalVenues.venuesIDarrayB}}
      <div class="card-wrapper">

            <a href="/places/{{this.id}}">
            <button type="submit">
                  <div class='card'>
                        <div class='card-img-wrapper'>
                              <div class='card-img-wrapper-in'>
                                    <img src={{this.imgUrl}}>
                              </div>
                        </div>
                        
                        <div class="card-info">
                              <h4 class="text-overflow">{{this.name}}</h4>
                              <p class="text-overflow">{{this.location.address}}</p>
                              <h5 class="text-overflow">{{this.location.city}}</h5>
                        </div>
                  </div>
            </button>
            </a>

      <form action="/create-match/newB" method="GET">
            <input type="hidden" value='{{this.id}}' name='id_B'>
            <input type="hidden" value='{{this.imgUrl}}' name='imgUrl_B'>
            <input type="hidden" value='{{this.name}}' name='name_B'>
            <input type="hidden" value='{{this.location.address}}' name='location_B'>
            <input type="hidden" value='{{this.location.city}}' name='city_B'>

            <input type="hidden" value='{{../finalVenues.venuesIDarrayA.id}}' name='id'>
            <input type="hidden" value='{{../finalVenues.venuesIDarrayA.imgUrl}}' name='imgUrl'>
            <input type="hidden" value='{{../finalVenues.venuesIDarrayA.name}}' name='name'>
            <input type="hidden" value='{{../finalVenues.venuesIDarrayA.location}}' name='location'>
            <input type="hidden" value='{{../finalVenues.venuesIDarrayA.city}}' name='city'>

            <button type="submit" class="button add-place-button" style="background-color:#f34970">MATCH</button>
      </form>

      </div>

      {{/each}}
      {{/if}}
</main>
{{> footer}}