<!-- views/apitest/placesList.hbs -->
<div class="div-add-place">
  <button class="button-add-place">
    <a href="/places" class="plus-button">
   
      <p class="p-add">+</p>
    </a>
  </button>
</div>
<header class="user-header">
  <img src={{venuesIDarray.user.img}} alt="">
  <div>
    <p>Welcome,</p>
    <h3>{{venuesIDarray.user.username}}</h3>
  </div>

</header>
      <h2 >Look for your Cozy Place</h2>
      <hr class="hr-divider-user">
<main class='private-screen-main'>
      
      {{#each venuesIDarray}}
      <div class="list-container">
      <div class="card-wrapper">
            <a href="/places/{{this.id}}">
            <button type="submit">
                  <div class='card'>
                        <div class='card-img-wrapper'>
                              <div class='card-img-wrapper-in'>
                                    <img src={{this.imgUrl}}>
                              </div>
                        </div>
                        
                        <div class="card-info">
                              <h4 class="text-overflow">{{this.name}}</h4>
                              <p class="text-overflow">{{this.location.address}}</p>
                              <h5 class="text-overflow">{{this.location.city}}</h5>
                        </div>
                  </div>
            </button>
            </a>
            
      <form action="/places/new" method="POST">
            <input type="hidden" value='{{this.id}}' name='id'>
            <input type="hidden" value='{{this.imgUrl}}' name='imgUrl'>
            <input type="hidden" value='{{this.name}}' name='name'>
            <input type="hidden" value='{{this.location.address}}' name='address'>
            <input type="hidden" value='{{this.location.city}}' name='city'>
            {{#if this.isButton}}
            <button type="submit" class="button add-place-button" disabled>Added</button>
            {{else}}
            <button type="submit" class="button add-place-button">Add</button>
            {{/if}}
      </form>

      </div>

      </div>
      {{else}}
      <div class="list-not-found-message-container">

      <img src="../../images/icon-notfound-search.svg"
      <p>No results, search for other place</p>
      
      </div>
      {{/each}}
</main>

{{> footer}}