<!-- views/apitest/placesList.hbs -->
<div class='list-container'>
      <h2 class='places-title'>PLACES LIST</h2>
      {{#each venuesIDarray}}
      <div class="card-wrapper">

            <a href="/places/{{this.id}}">
            <button type="submit">
                  <div class='card'>
                        <div class='card-img-wrapper'>
                              <div class='card-img-wrapper-in'>
                                    <img src={{this.imgUrl}}>
                              </div>
                        </div>
                        
                        <div class="card-info">
                              <h4>{{this.name}}</h4>
                              <p>{{this.location.address}}</p>
                              <p>{{this.location.city}}</p>
                        </div>
                  </div>
            </button>
            </a>
            
      <form action="/places/new" method="POST">
            <input type="hidden" value='{{this.id}}' name='id'>
            <input type="hidden" value='{{this.imgUrl}}' name='imgUrl'>
            <input type="hidden" value='{{this.name}}' name='name'>
            <input type="hidden" value='{{this.location.address}}' name='address'>
            <input type="hidden" value='{{this.location.city}}' name='city'>

            <button type="submit" class="button add-place-button">ADD</button>
      </form>

      </div>

      {{/each}}
</div>

{{> footer}}