<!-- views/apitest/place-profile.hbs -->

<main class="place-profile-main">
  <section class="place-profile-title">

    <h1>{{data.data.name}}</h1>

  </section>
  <section class="place-profile-card">

      
      <article class="place-profile-card-img">
        
        <img src={{urlPhoto}} alt="{{data.name}}">
      </article>
    

      <article class="place-profile-text">
        <h3>{{data.data.location.city}}</h3>
        <h4>{{data.data.location.address}}</h4>
        <br>
        
        <p>{{description.description}}</p>
        
      </article>

  </section>
  <section class="place-profile-buttons">
    
      <form action="/apitest/new" method="POST">

            <input type="hidden" value='{{urlPhoto}}' name='imgUrl'>
            <input type="hidden" value='{{data.data.id}}' name='id'>
            <input type="hidden" value='{{data.data.name}}' name='name'>
            <input type="hidden" value='{{data.data.location.address}}' name='address'>
            <input type="hidden" value='{{data.data.location.city}}' name='city'>

            <button type="submit" class="button blue">Add</button>
      </form>

            <form action="/matchtest/new" method="GET">

            <input type="hidden" value='{{urlPhoto}}' name='imgUrl'>
            <input type="hidden" value='{{data.data.id}}' name='id'>
            <input type="hidden" value='{{data.data.name}}' name='name'>
            <input type="hidden" value='{{data.data.location.address}}' name='address'>
            <input type="hidden" value='{{data.data.location.city}}' name='city'>

            <button id="match-places" class="button">Match</button>
      </form>
 
  </section>
  <section>
      <article class="place-profile-text">

      <h4>User tip:</h4>
 
      <p>{{tip.tip}}</p>

      </article>
  </section>

{{!--   <section class="place-profile-similar">
    <h3>Similar Cozyplaces</h3>
    {{#if similar.similar}}
        {{#each similar.similar}}
          <p>{{this.name}}</p>
        {{/each}}
    {{/if}} 
    <p>There are not similar places</p>

  </section> --}}

</main>

{{> footer}}